<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="style.css">
    </head>

    <body>
        <form method="post"
            action="/login">

            <h1>Login Now <%=locals.already%>
            </h1>
            <input type="email"
                name="email"
                value='<%=locals.email%>'
                placeholder="Email" />
            <input type="password"
                name="password"
                placeholder="Password" />
            <p class="error">
                <%=locals.name%>
            </p>
            <button type="submit">Log In</button>
        </form>
    </body>

</html>
